/.vscode
/Belajar
/CaptureTheFlag
/D1041241067_bisection_method.py
/debug_resp.html
/DSAPython
/grafik_biseksi.png
/hasil_bisection.txt
/Latihan
/PraktikumPBO
/Quantum-Computing-New-One
/QuantumComp
/recovered.png
/test.cpp
/test.exe
/test.html
/testhtml
/testPHP
/Tugas
/UASMetnum
/UAS_Strago